.App {
  text-align: center;
}

.todo-input {
  margin-right: 12px;
  font-family: "Times New Roman", Times, serif;

}

.todo-submit {
  margin-right: 12px;
  font-family: "Times New Roman", Times, serif;
}

.todo-delete {
  margin-right: 14px;
  margin-bottom: 10px;  
}

button {
  border-radius: 1px;
  font-family: "Times New Roman", Times, serif;
}
